@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: initial;
  /*  overflow: hidden; */
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

section {
  padding-bottom: 10rem;
  height: 100vh;
  width: 100%;
}

.banner {
  display: flex;
  background-image: url(./images/top-banner.png);
  background-repeat: no-repeat;
}

.banner__intro {
  width: 50%;
  padding: 3rem 5rem;
  margin-left: 3rem;
}

.banner__intro h1 {
  font-size: 4rem;
  line-height: 10rem;
  text-transform: capitalize;
}
.name-style {
  color: darkorange;
}
.banner__intro h3 {
  font-size: 2rem;
  line-height: 8rem;
}
.banner__intro p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.btn {
  text-decoration: none;
  font-size: 2rem;
  background-image: linear-gradient(to left, orange, gold);
  padding: 0.6rem 3rem;
  border: none;
  text-transform: uppercase;
  color: dimgray;
  font-weight: 700;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.banner__img {
  width: 50%;
  padding: 0 5rem;
}

.banner__img img {
  width: 100%;
}

/* dream section */
.dream {
  display: flex;
  background-image: url(./images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right center;
}

.dream__img {
  margin-left: 8rem;
}

/* end of dream section */
